@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Nunito+Sans&family=Roboto&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";


:root {
  --step--3: clamp(0.64rem, calc(0.66rem + -0.02vw), 0.65rem);
  --step--2: clamp(0.78rem, calc(0.77rem + 0.03vw), 0.80rem);
  --step--1: clamp(0.94rem, calc(0.92rem + 0.11vw), 1.00rem);
  --step-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --step-1: clamp(1.35rem, calc(1.28rem + 0.37vw), 1.56rem);
  --step-2: clamp(1.62rem, calc(1.50rem + 0.58vw), 1.95rem);
  --step-3: clamp(1.94rem, calc(1.77rem + 0.87vw), 2.44rem);
  --step-4: clamp(2.33rem, calc(2.08rem + 1.25vw), 3.05rem);
  --step-5: clamp(2.80rem, calc(2.45rem + 1.77vw), 3.82rem);
  --step-6: clamp(3.36rem, calc(2.87rem + 2.45vw), 4.77rem);
}

body {
  font-family: "Fira Sans", Arial, sans-serif;
  @apply w-full min-h-screen overflow-x-hidden text-typography bg-background;
}

main {
  @apply overflow-x-hidden;
}

.banner__overlay--down {
  background-image: linear-gradient(
    to bottom,
    transparent 10%,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 1)
  );
}

.banner__overlay {
  background-color: rgba(0, 0, 0, 0.6);
}

.reactions img {
  @apply border rounded-full border-background-800 bg-background-800;
}

@layer utilities {
  .snap-x > * {
    flex-shrink: 0;
  }
}

@media screen and (min-width: 768px) {
  .banner__overlay {
    background-image: linear-gradient(
      77deg,
      rgba(0, 0, 0, 0.8) 25%,
      transparent 85%
    );

    background-color: transparent;
  }
}

@import "tailwindcss/utilities";

.popup__arrow,
.popup__arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

.popup__arrow {
  visibility: hidden;
}

.popup__arrow::before {
  visibility: visible;
  content: "";
  transform: rotate(45deg);
}

.popup[data-popper-placement^="top"] > .popup__arrow {
  bottom: -4px;
}

.popup[data-popper-placement^="bottom"] > .popup__arrow {
  top: -4px;
}

.popup[data-popper-placement^="left"] > .popup__arrow {
  right: -4px;
}

.popup[data-popper-placement^="right"] > .popup__arrow {
  left: -4px;
}

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  @apply bg-primary-500;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px var(--primary-color), 0 0 5px var(--primary-color);
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: var(--primary-color);
  border-left-color: var(--primary-color);
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.swiper-button {
  @apply flex items-center justify-center p-2 text-white transition duration-200 border-2 border-white rounded-full cursor-pointer hover:bg-white hover:text-black;
}

.swiper-button-disabled {
  @apply cursor-not-allowed opacity-40 hover:text-white hover:bg-transparent;
}

.app {
  @apply min-h-screen;
}

::-webkit-scrollbar {
  @apply w-2 bg-white/10;
}

::-webkit-scrollbar-thumb {
  @apply bg-zinc-500 rounded-md;
}

.no-scrollbar::-webkit-scrollbar {
  @apply hidden;
}

.controls-container .control-button {
  @apply w-8 h-8;
}



/* OVERLOADS CHATBRO */

.chatbro_minimized_header {
   height: 18px!important;
   border-top-left-radius: 15px!important;
   border-top-right-radius: 15px!important;

 }


 @layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}


/* tiptap */

.ProseMirror > img {
  width: 170px;
}

.img-sm {
  width: 180px!important;
}

.img-md {
  width: 250px!important;
}

.img-lg {
  width: 400px!important;
}

.img-xl {
  width: 600px!important;
}